.number_5 {
  background: #000000;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  outline: 2px solid white;
}

/**ARTICULOS**/
/*forma 1*/
.forma_5 {
  background: #394959;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  position: absolute;
  animation-name: forma_5;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  z-index: 30; 
}
@keyframes forma_5 {
  0% {
    top: 0;
    left: 0;
  }
  12.5% {
    top: 50px;
    left: 50px;
  }
  25% {
    top: 0;
    left: 100px;
  }
  37.5% {
    top: 50px;
    left: 50px;
  }
  50% {
    top: 100px;
    left: 100px;
  }
  62.5% {
    top: 50px;
    left: 50px;
  }
  75% {
    top: 100px;
    left: 0px;
  }
  87.5% {
    top: 50px;
    left: 50px;
  }
  100% {
    top: 0;
    left: 0;
  }
}
.elementos5 {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: elementos_1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  z-index: 20; 
}
@keyframes elementos_1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-90deg);
  }
}
.elem_15 {
  background: #376576;
  position: absolute;
  top: 0;
  left: 0;
}
.elem_25 {
  background: #376576;
  position: absolute;
  top: 0;
  left: 200px;

}
.elem_35 {
  background: #376576;
  position: absolute;
  top: 200px;
  left: 0;

}
.elem_45 {
  background: #376576;
  position: absolute;
  top: 200px;
  left: 200px;
}
